/**
 * Layout generated with http://layzilla.com
 * Layout generator is free of use.
 * We appreciate if you leave this comment block in commercial use of generator.
 * All comment and ideas can be submitted to us using contacts below.
 *
 *    site: www.jmholding.com
 *   email: info@jmholding.ru
 *  twitter: @jmholding
 */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

#content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

#leftdiv {
	height: 600px;
	width: 200px;
	background: #cccccc;
	left: 0;
}

#topdiv {
	top: 0;
	height: 100px;
	width: 100%;
	background: #aaaaaa;
}