﻿body
{
    font-family: Arial;
}

table.DanceResultTable
{
    width: 100%;
    line-height: 60px;
    font-size:x-large;
}

table.JudgeTable
{
    width: 100%;
    border: 2px solid white;
    font-size: 25px;
}

table.JudgeTable td
{
    border: 2px solid white;
    text-align: center;
}

td.notused
{
    background: Yellow;
    color: Black;
}