﻿		<tr class="@rowclass@">
			<td rowspan="@JudgeNumber@">@Number@</td>
			<td rowspan="@JudgeNumber@">@Couple@</td>
			<td>@Judge@</td>
			<td class="@class1@">@P1@</td>
            <td rowspan="@JudgeNumber@">@RD1@</td>
			<td rowspan="@JudgeNumber@">@Total1@</td>
			<td rowspan="@JudgeNumber@">@Total@</td>
			<td rowspan="@JudgeNumber@" class="Place">@Place@</td>
		</tr>