﻿<!DOCTYPE html>

<html lang="en"  ng-app="angularWithTS">
<head>
    <meta charset="utf-8" />
    <title>JS3</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    
    <style>
        
        h1 {
            line-height: 20px;
            font-size: 16px;
        }

        h2 {
            line-height: 20px;
            font-size: 14px;
        }

        h3 {
            line-height: 20px;
            font-size: 12px;
        }

        #coupleContainer {
            width: 70px;
            display: inline;
            position: absolute;
            top: 80px;
            left: 0px;
        }

        #scoreContainer {
            position: absolute;
            top: 80px;
            left: 100px;
            width: 170px;
            display: inline-block;
        }

        #score1to10Container {
            width: 70px;
            float: none;
            display: inline-block;
        }

        #score0to75Container {
            margin-top: 100px;
            margin-left: 20px;
            width: 70px;
            display: inline-block;
            float: right;
        }

         button.coupleButton {
             width: 50px;
             height: 50px;
             margin: 20px 0px 0px 20px;
         }

         button.ScoreButton {
             width: 50px;
             height: 50px;
             margin: 10px 0px 0px 20px;
         }

         button.SubScoreButton {
             width: 50px;
             height: 50px;
             margin: 10px 0px 0px 20px;
         }

         button.selected {
             background: green;
         }

         button.subScoreSelected {
             background: green;
         }

         button.coupleJudged {
             background: green;
         }

         button.coupleSelected {
             background: orange;
         }

         button.confirmButton {
             height: 50px;
             margin-top: 40px;
             margin-left: 20px;
         }

         span.red {
             color: red;
         }

    </style>

</head>
<body id="body" ng-controller="TsDemoController as controller">
    <h1>{{controller.component}} - {{controller.judgeName}}</h1>
    <h3>{{controller.currentHeat}} - <span id="timerSpan">{{controller.timerString}}</span></h3>

<div id="content">
    
    <div id="loginBox">
        <h2>Enter your pin:</h2>
        <input type="password" ng-model="controller.pin"/>
        <button ng-click="controller.logon()">Ok</button>
    </div>

    <div id="coupleContainer" style="display: none">
        <button class="coupleButton" id="couple{{couple}}" ng-repeat="couple in controller.couplesInHeat" ng-click="controller.coupleSelected(couple)">{{couple}}</button>
        <div id="confirmButton" >
            <button ng-click="controller.confirm()" class="confirmButton">Confirm</button>
        </div>
    </div>

    <div id="scoreContainer" style="display: none">
        <div id="score1to10Container">
            <button class="ScoreButton selected" id="score10" ng-click="controller.scoreSelected(10)">10</button>
            <button class="ScoreButton" id="score9" ng-click="controller.scoreSelected(9)">9</button>
            <button class="ScoreButton" id="score8" ng-click="controller.scoreSelected(8)">8</button>
            <button class="ScoreButton" id="score7" ng-click="controller.scoreSelected(7)">7</button>
            <button class="ScoreButton" id="score6" ng-click="controller.scoreSelected(6)">6</button>
            <button class="ScoreButton" id="score5" ng-click="controller.scoreSelected(5)">5</button>
            <button class="ScoreButton" id="score4" ng-click="controller.scoreSelected(4)">4</button>
            <button class="ScoreButton" id="score3" ng-click="controller.scoreSelected(3)">3</button>
            <button class="ScoreButton" id="score2" ng-click="controller.scoreSelected(2)">2</button>
            <button class="ScoreButton" id="score1" ng-click="controller.scoreSelected(1)">1</button>
            <button class="ScoreButton" id="score0" ng-click="controller.scoreSelected(0)">0</button>
        </div>
        <div id="score0to75Container" style="display: none">
            <button class="SubScoreButton" id="subscore0" ng-click="controller.subScoreSelected(0)">0</button>
            <button class="SubScoreButton" id="subscore25" ng-click="controller.subScoreSelected(0.25)">0.25</button>
            <button class="SubScoreButton" id="subscore50" ng-click="controller.subScoreSelected(0.5)">0.5</button>
            <button class="SubScoreButton" id="subscore75" ng-click="controller.subScoreSelected(0.75)">0.75</button>
        </div>
    </div>
</div>
    
<script src="/Scripts/jquery-3.1.1.js" ></script>
<script src="https://code.angularjs.org/tools/system.js"></script>
<script src="/Scripts/systemjs/system-polyfills.js"></script>
<script src="/Scripts/systemjs.config.js"></script>
<script>

    "use strict";
    var imports = {};
    var systemNormalize = System.normalize;
    System.normalize = function (path, importFrom) {
        var promise = systemNormalize.apply(this, arguments)
        promise.then(function (normalizedPath) {
            imports[normalizedPath] = {
                importPath: path,
                path: normalizedPath,
                from: importFrom,
                deps: []
            };
        });
        return promise;
    }
    var systemInstantiate = System.instantiate;
    System.instantiate = function (load) {
        var instantiateResult;
        return systemInstantiate.call(this, load)
          .then(function (result) {
              var importData = imports[load.name];
              importData.metadata = load.metadata;
              var fromData = imports[importData.from];
              if (fromData) {
                  fromData.deps.push(importData);
              }
              return result;
          });
    };
    function logImport(importData) {
        console.groupCollapsed(importData.importPath);
        console.log('path: ', importData.path);
        var metadata = importData.metadata;
        for (let metaKey in metadata) {
            if (metaKey == 'deps') continue;
            var metaValue = metadata[metaKey];
            if (metaValue !== undefined) {
                console.log(metaKey + ': ', metaValue)
            }
        }
        console.groupCollapsed('  deps : ', importData.deps.length);
        for(let depData of importData.deps) {
            logImport(depData);
        }
        console.groupEnd();
        console.groupEnd();
    }
    function logImports() {
        console.group("Imports");
        for (let index in imports) {
            var importData = imports[index];
            // root imports?
            if (importData.from === undefined) {
                logImport(importData);
            }
        }
        console.groupEnd();
    }


    System.import("/app/app.modules");

    $(document).ready(function () {
        
    });


</script>    


</body>
</html>
